
.container{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0;
	background-color: lightgrey;
	border-bottom: black;
	font-size: 30px;

}

.navbar-brand{
  color: darkgreen;
}

.navbar-brand:hover{
	color: white;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid black;
	color: black;
	margin-right: 25px;
}

.icon-bar{
	background-color: black;
}


.title{
  margin-bottom: 25px;
  text-align: center;
  color: red;
  font-size: 50px;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 20px;
	background-color: white;
	border-bottom: 1px solid blue;
	color: blue;
	display: block;
}

.menu-item:hover{
	background-color: grey;
	color: grey;
}



.row{
	margin: 20px;
}

.box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: grey;
	padding: 20px;
}

.content-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
